{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/list.css' %}" />
{% endblock %} {% block content %}

<section>
  <h1>Product List</h1>
</section>
<section>
  <div class="tablecontainer">
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Brand</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Category</th>
          <th>Images</th>
          <th>Date Added</th>
          <th>Suppliers</th>
          <th>Update/Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for product in product_list %}
        <tr>
          <td>{{product.name}}</td>
          <td>{{product.brand}}</td>
          <td>{{product.description}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.category}}</td>
          <td>
            <div class="product-form">
              <div class="form-image">
                {% for photo in product.photo_set.all %}
                <img
                  class="product-img card-panel"
                  src="{{photo.url}}"
                  alt="{{ product.name }} photo"
                />
                {% empty %}
                
                <div class="card-panel  center-align">
                  No Photos Uploaded
                </div>
                {% endfor %}
              </div>
              <div class="pd-img-form-buttons">
                <form
                  action="{% url 'add_photo' product.id %}"
                  enctype="multipart/form-data"
                  method="POST"
                  class="card-panel"
                >
                  {% csrf_token %}
                  <input type="file" name="photo-file" />
                  <input type="submit" class="btn" value="Upload Photo" />
                </form>
              </div>
            </div>
          </td>
          <td>{{product.date_added}}</td>
          <td>
            {%for supplier in product.suppliers.all %} {{supplier.name}} 
            {% endfor %}
          </td>
          <td>
            <div class="product-actions">
              <button>
                <a href="{% url 'product-update' product.id %}" class="btn warn"
                  >Update</a
                >
              </button>
              <button>
                <a
                  href="{% url 'product-delete' product.id %}"
                  class="btn danger"
                  >Delete</a
                >
              </button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock %}
