{% extends 'base.html' %} {% load static %} {% block head %}

{% endblock %} {% block content %}
<section>
  <header>  
    <h1>Supplier List</h1>
  </header>
</section>
<section>
  <table> 
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Notes</th>
        <th>Update/Delete</th>
      </tr>
    </thead>
    {% for supplier in supplier_list %}
    <tbody> 
      <tr>
        <td>{{supplier.name}}
        </td>
        <td>{{supplier.phone}}</td>
        <td>{{supplier.email}}</td>
        <td>{{supplier.address}}</td>
        <td>{{supplier.notes}}</td>
        <td> 
          <div class="supplier-actions">
            <a href="{% url 'supplier-update' supplier.id %}" class="btn warn">Update</a>
            <a href="{% url 'supplier-delete' supplier.id %}" class="btn danger">Delete</a>
          </div> 
        </td> 
      </tr>
    </tbody>
    {%endfor%}
  </table>
</section>


{% endblock %}