{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>FreshTrack</title>
    {% block head %} {% endblock %}
  </head>
  <body class="container">
    <header class="sidebar">
      <div class="header-logo-container">
        <a href="/">
          <img src="main_app/static/images/FreshTrackLogo.png" alt="FreshTrack Logo" />
        </a>
      </div>
      <nav >
        <p> Welcome, {{user.username}} </p>
        <ul>
          <li class="nav"><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
          <li class="nav"><a href="{% url 'product-index' %}">Product List</a></li>
          <li class="nav"><a href="{% url 'product-create' %}">Add a Product</a></li>
          <li class="nav"><a href="{% url 'supplier-index' %}">Supplier List</a></li>
          <li class="nav"><a href="{% url 'supplier-create' %}">Add a Supplier</a></li>
          <li class="nav">
            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Log out</button>
            </form>
          </li>
          {% else %}
          <li class="nav"><a href="{% url 'signup' %}">Sign Up</a></li>
          <li class="nav"><a href="{% url 'home' %}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main class="main-content">{% block content %} {% endblock %}</main>
  </body>
</html>
